# Some categories and items copied from https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__

# Distribution / packaging
.Python
build/
dist/
sdist/
*.egg-info/

# Unit test / coverage reports
.coverage
coverage.xml
.tox/

# Environments
.env
.venv
env/
venv/

# Jupyter notebooks
**.ipynb

# Other
.vscode
.idea
AntaresWebDesktop/
