-r requirements.txt
coverage[toml]~=7.6.1
mkdocs~=1.6.1
mkdocstrings[python]~=0.26.1
mkdocs-material~=9.5.40
mypy~=1.10.0
pytest~=7.2.1
pytest-cov~=5.0.0
requests-mock~=1.12.1
ruff~=0.4.7
setuptools~=75.1.0
setuptools-scm[toml]~=8.1.0
tox~=4.21.2
tox-uv~=1.11.3
types-requests~=2.31.0
types-psutil~=7.0.0.20250218
pandas-stubs~=2.2.2
requests-mock~=1.12.1
click~=8.1.7