-r requirements.txt
coverage[toml]~=7.13.0
mypy~=1.15.0
pytest~=9.0.2
pytest-cov~=7.0.0
requests-mock~=1.12.1
ruff~=0.11.5
setuptools~=75.1.0
setuptools-scm[toml]~=8.1.0
tox~=4.25.0
tox-uv~=1.25.0
types-requests~=2.31.0
types-psutil~=7.0.0.20250218
pandas-stubs~=2.3.3
pyarrow-stubs~=20.0.0
requests-mock~=1.12.1
click~=8.1.7
checksumdir~=1.2.0